@import "@/index.scss";

nav {
  position: fixed;
  z-index: 99999;

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    transition: background-color 0.5s ease, backdrop-filter 0.5s ease;

    .logo {
      img {
        height: 60px;
      }
    }

    .menu-toggle {
      cursor: pointer;
      position: relative;

      .hamBox {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        border-radius: 50%;
        transition: 0.3s ease;
        padding: 1.9em;

        .hamBoxOpen {
          background-color: $text-orange;
        }

        .lineTop,
        .lineBottom {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: 20px;
          height: 2.5px;
          border-radius: 10px;
          background-color: $text-orange;
          transition: all 0.4s;
        }

        .lineTop {
          top: 40%;
        }

        .lineBottom {
          bottom: 40%;
        }

        .lineTop.spin {
          top: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
          background-color: $text-orange;
        }

        .lineBottom.spin {
          bottom: 50%;
          transform: translate(-50%, 50%) rotate(-45deg);
          background-color: $text-orange;
        }
      }
    }
  }

  .nav-overlay {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    position: fixed;
    background-color: $black;
    z-index: -2;
    top: -100%;
    left: 0;
    overflow: hidden;
    padding: 4em;
    transition: all 1.5s cubic-bezier(0.16, 1, 0.3, 1);
    display: flex;
    justify-content: center;
    align-items: center;

    .link {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 70px;
      .nav-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 50px;
        li {
          a {
            font-family: "Italiana", sans-serif;
            letter-spacing: 3px;
            font-size: 60px;
            color: $text-orange;
            font-weight: 600;
            transition: all 0.5s ease;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: $text-orange;
              transform: scaleX(0);
              transform-origin: bottom left;
              transition: transform 0.3s ease;
            }

            &:hover {
              text-decoration: none;
              &::after {
                transform: scaleX(1);
              }
            }
          }
        }
      }
    }

    .socials {
      position: absolute;
      left: 50px;
      bottom: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;

      img {
        height: 25px;
      }
    }

    .auth {
      color: $text-orange;
      position: absolute;
      right: 50px;
      bottom: 50px;

      button {
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-size: 24px;
        color: $text-orange;
        border: 1px solid $text-orange;
        border-radius: 18px;
        padding: 24px 22px;

        img {
          height: 30px;
        }
      }
    }
  }
}

@media (max-width: 1700px) {
  nav {
    .navbar {
      padding: 18px 40px;

      .logo {
        img {
          height: 55px;
        }
      }

      .menu-toggle {
        .hamBox {
          width: 28px;
          height: 28px;
          padding: 1.8em;
        }
      }
    }

    .nav-overlay {
      padding: 3.5em;

      .link {
        gap: 60px;
        .nav-links {
          gap: 40px;
          li {
            a {
              letter-spacing: 2.5px;
              font-size: 50px;
              &::after {
                content: "";
                height: 1.8px;
              }
            }
          }
        }
      }

      .socials {
        left: 45px;
        bottom: 45px;
        gap: 35px;

        img {
          height: 22px;
        }
      }

      .auth {
        right: 45px;
        bottom: 45px;

        button {
          gap: 18px;
          font-size: 22px;
          border-radius: 15px;
          padding: 20px 18px;

          img {
            height: 26px;
          }
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  nav {
    .navbar {
      padding: 18px 36px;

      .logo {
        img {
          height: 50px;
        }
      }

      .menu-toggle {
        .hamBox {
          width: 26px;
          height: 26px;
          padding: 1.6em;
        }
      }
    }

    .nav-overlay {
      padding: 3.2em;

      .link {
        gap: 50px;
        .nav-links {
          gap: 30px;
          li {
            a {
              letter-spacing: 2.2px;
              font-size: 44px;
              &::after {
                content: "";
                height: 1.6px;
              }
            }
          }
        }
      }

      .socials {
        left: 40px;
        bottom: 40px;
        gap: 30px;

        img {
          height: 20px;
        }
      }

      .auth {
        right: 40px;
        bottom: 40px;

        button {
          gap: 16px;
          font-size: 20px;
          border-radius: 15px;
          padding: 18px 16px;

          img {
            height: 22px;
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  nav {
    .navbar {
      padding: 16px 34px;

      .logo {
        img {
          height: 45px;
        }
      }

      .menu-toggle {
        .hamBox {
          width: 24px;
          height: 24px;
          padding: 1.5em;
        }
      }
    }

    .nav-overlay {
      padding: 3em;

      .link {
        gap: 45px;
        .nav-links {
          gap: 35px;
          li {
            a {
              letter-spacing: 2px;
              font-size: 40px;
              &::after {
                content: "";
                height: 1.4px;
              }
            }
          }
        }
      }

      .socials {
        left: 36px;
        bottom: 36px;
        gap: 26px;

        img {
          height: 20px;
        }
      }

      .auth {
        right: 36px;
        bottom: 36px;

        button {
          gap: 15px;
          font-size: 18px;
          border-radius: 14px;
          padding: 16px 14px;

          img {
            height: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  nav {
    .navbar {
      display: flex;
      padding: 10px 20px;

      .logo {
        img {
          height: 40px;
        }
      }

      .menu-toggle {
        .hamBox {
          width: 28px;
          height: 28px;
          padding: 1.5em;

          .lineTop,
          .lineBottom {
            width: 18px;
            height: 2.1px;
          }
        }
      }
    }

    .nav-overlay {
      padding: 1em;

      .link {
        gap: 30px;
        .nav-links {
          gap: 20px;
          li {
            a {
              letter-spacing: 2px;
              font-size: 30px;

              &::after {
                content: "";
                height: 1.2px;
              }
            }
          }
        }
      }

      .socials {
        left: 30px;
        bottom: 30px;
        gap: 26px;

        img {
          height: 22px;
        }
      }

      .auth {
        right: 30px;
        bottom: 30px;
        button {
          gap: 12px;
          font-size: 18px;

          border-radius: 11px;
          padding: 16px 13px;

          img {
            height: 22px;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  nav {
    .navbar {
      display: flex;
      padding: 10px 20px;

      .logo {
        img {
          height: 40px;
        }
      }

      .menu-toggle {
        .hamBox {
          width: 28px;
          height: 28px;
          padding: 1.5em;

          .lineTop,
          .lineBottom {
            width: 18px;
            height: 2.1px;
          }
        }
      }
    }

    .nav-overlay {
      padding: 1em;
      padding-top: 3em;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 60px;

      .link {
        gap: 30px;
        .nav-links {
          gap: 20px;
          li {
            a {
              letter-spacing: 2px;
              font-size: 30px;

              &::after {
                content: "";
                height: 1.2px;
              }
            }
          }
        }
      }

      .bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        .socials {
          position: static;

          img {
            height: 22px;
          }
        }

        .auth {
          position: static;

          button {
            gap: 12px;
            font-size: 18px;

            border-radius: 11px;
            padding: 16px 13px;

            img {
              height: 22px;
            }
          }
        }
      }
    }
  }
}
