@import "@/index.scss";
.privacy-policy {
  .hero {
    height: 70vh;
    height: 70dvh;
    transition: all 0.8s ease-out;
    background-image: url("@/assets/restHeroImg.webp");
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      text-shadow: 1px 1px $black;
      font-size: 60px;
      color: $text-orange;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .content {
    padding: 100px 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 50px;

    .section {
      h2 {
        font-size: 36px;
        color: $dark-orange;
        margin-bottom: 30px;
      }

      p {
        color: lightgrey;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 1px;
        margin-bottom: 20px;
      }
    }

    .subsection {
      padding-left: 20px;
      margin-bottom: 50px;

      h3 {
        font-size: 24px;
        color: $dark-orange;
        margin-bottom: 15px;
      }

      .detail-section {
        margin-bottom: 15px;
        padding-left: 15px;

        p {
          font-size: 16px;
          color: lightgrey;
          margin-bottom: 10px;
        }

        ul {
          margin-left: 20px;
          padding-left: 10px;
          list-style-type: disc;

          li {
            font-size: 16px;
            color: lightgrey;
            line-height: 1.6;
            margin-bottom: 10px;

            .list-label {
              color: $white;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  .privacy-policy {
    .hero {
      h2 {
        font-size: 50px;
        letter-spacing: 1.8px;
      }
    }

    .content {
      padding: 80px 160px;
      gap: 50px;

      .section {
        h2 {
          font-size: 32px;
          margin-bottom: 25px;
        }

        p {
          font-size: 15px;
          line-height: 30px;
          margin-bottom: 18px;
        }
      }

      .subsection {
        padding-left: 18px;
        margin-bottom: 40px;

        h3 {
          font-size: 22px;
          margin-bottom: 14px;
        }

        .detail-section {
          margin-bottom: 14px;
          padding-left: 14px;

          p {
            font-size: 15px;
            margin-bottom: 8px;
          }

          ul {
            margin-left: 18px;
            padding-left: 8px;

            li {
              font-size: 15px;
              line-height: 1.5;
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .privacy-policy {
    .hero {
      padding: 0 30px;
      text-align: center;
      h2 {
        font-size: 44px;
        letter-spacing: 1.6px;
      }
    }

    .content {
      padding: 60px 120px;
      gap: 50px;

      .section {
        h2 {
          font-size: 30px;
          margin-bottom: 24px;
        }

        p {
          font-size: 14px;
          line-height: 28px;
          margin-bottom: 16px;
        }
      }

      .subsection {
        padding-left: 16px;
        margin-bottom: 30px;

        h3 {
          font-size: 21px;
        }

        .detail-section {
          margin-bottom: 14px;
          padding-left: 14px;

          p {
            font-size: 14px;
            margin-bottom: 8px;
          }

          ul {
            margin-left: 18px;
            padding-left: 8px;

            li {
              font-size: 14px;
              line-height: 1.8;
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .privacy-policy {
    .hero {
      padding: 0 30px;

      h2 {
        font-size: 42px;
      }
    }

    .content {
      padding: 50px 100px;
      gap: 40px;

      .section {
        h2 {
          font-size: 28px;
          margin-bottom: 22px;
        }

        p {
          font-size: 14px;
          line-height: 28px;
          margin-bottom: 16px;
        }
      }

      .subsection {
        padding-left: 15px;
        margin-bottom: 28px;

        h3 {
          font-size: 20px;
        }

        .detail-section {
          margin-bottom: 14px;
          padding-left: 14px;

          p {
            font-size: 13px;
            margin-bottom: 8px;
          }

          ul {
            margin-left: 14px;
            padding-left: 4px;

            li {
              font-size: 13px;
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .privacy-policy {
    .hero {
      padding: 0 26px;

      h2 {
        font-size: 35px;
      }
    }

    .content {
      padding: 30px;
      gap: 30px;

      .section {
        h2 {
          font-size: 24px;
          margin-bottom: 20px;
        }

        p {
          font-size: 13px;
          line-height: 26px;
          margin-bottom: 15px;
        }
      }

      .subsection {
        padding-left: 0px;
        margin-bottom: 26px;

        h3 {
          font-size: 20px;
        }

        .detail-section {
          margin-bottom: 12px;
          padding-left: 0px;

          p {
            font-size: 13px;
            margin-bottom: 8px;
          }

          ul {
            margin-left: 10px;
            padding-left: 2px;

            li {
              font-size: 12px;
              margin-bottom: 7px;
            }
          }
        }
      }
    }
  }
}
