@import "@/index.scss";
.privacy-policy {
  .hero {
    height: 70vh;
    background-image: url("@/assets/restHeroImg.webp");
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 60px;
      color: $text-orange;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .content {
    padding: 100px 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 50px;

    .section {
      h2 {
        font-size: 36px;
        color: $dark-orange;
        margin-bottom: 30px;
      }

      p {
        color: lightgrey;

        font-size: 16px;
        line-height: 32px;
        letter-spacing: 1px;
        margin-bottom: 20px;
      }
    }

    .subsection {
      padding-left: 20px;
      margin-bottom: 50px;

      h3 {
        font-size: 24px;
        color: $dark-orange;
        margin-bottom: 15px;
      }

      .detail-section {
        margin-bottom: 15px;
        padding-left: 15px;

        p {
          font-size: 16px;
          color: lightgrey;
          margin-bottom: 10px;
        }

        ul {
          margin-left: 20px;
          padding-left: 10px;
          list-style-type: disc;

          li {
            font-size: 16px;
            color: lightgrey;
            line-height: 1.6;
            margin-bottom: 10px;

            .list-label {
              color: $white;
            }
          }
        }
      }
    }
  }
}
