@import "@/index.scss";

.phuketSection {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  margin-top: 80px;
  transition: all 0.8s ease-out;
  background-image: url("@/assets/homePhuket.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  padding: 50px;
  cursor: pointer;

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .phuketSection-left {
      h2 {
        text-shadow: 1px 1px $black;
        color: $white;
        font-size: 48px;
        margin-bottom: 20px;
        span {
          color: $light-orange;
          font-weight: 600;
        }
      }

      p {
        text-shadow: 1px 1px $black;

        color: $white;
        font-size: 24px;
        line-height: 40px;
      }
    }

    .phuketSection-right {
      button {
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-size: 24px;
        color: $white;
        border: 1px solid $white;
        border-radius: 18px;
        padding: 24px 22px;
        text-shadow: 1px 1px $black;

        img {
          height: 30px;
        }
      }
    }
  }
}

@media (max-width: 1700px) {
  .phuketSection {
    .container {
      .phuketSection-left {
        h2 {
          font-size: 48px;
          margin-bottom: 20px;
        }

        p {
          font-size: 24px;
          line-height: 40px;
        }
      }

      .phuketSection-right {
        button {
          gap: 18px;
          font-size: 20px;
          padding: 20px 18px;

          img {
            height: 24px;
          }
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  .phuketSection {
    .container {
      .phuketSection-left {
        h2 {
          font-size: 45px;
          margin-bottom: 18px;
        }

        p {
          font-size: 20px;
          line-height: 35px;
        }
      }

      .phuketSection-right {
        button {
          gap: 16px;
          font-size: 18px;
          padding: 18px 16px;

          img {
            height: 22px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .phuketSection {
    .container {
      .phuketSection-left {
        h2 {
          font-size: 42px;
          margin-bottom: 16px;
        }

        p {
          font-size: 18px;
          line-height: 30px;
        }
      }

      .phuketSection-right {
        button {
          gap: 14px;
          font-size: 17px;
          padding: 16px 14px;

          img {
            height: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .phuketSection {
    background-position: center;
    padding: 40px;
    margin-top: 60px;

    .container {
      width: 100%;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 30px;

      .phuketSection-left {
        h2 {
          font-size: 40px;
          margin-bottom: 18px;
        }

        p {
          font-size: 20px;
          line-height: 30px;
        }
      }

      .phuketSection-right {
        button {
          gap: 18px;
          font-size: 20px;
          border-radius: 16px;
          padding: 20px 18px;

          img {
            height: 25px;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .phuketSection {
    padding: 30px;
    margin-top: 50px;

    .container {
      gap: 25px;

      .phuketSection-left {
        h2 {
          font-size: 36px;
          margin-bottom: 18px;
        }

        p {
          font-size: 16px;
          line-height: 26px;
        }
      }

      .phuketSection-right {
        button {
          gap: 16px;
          font-size: 16px;
          border-radius: 15px;
          padding: 16px 14px;

          img {
            height: 25px;
          }
        }
      }
    }
  }
}
