@import "@/index.scss";

.home-gallery {
  margin: 50px 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  h2 {
    font-size: 48px;
    color: $white;
    font-weight: 100;
  }
  p {
    color: $white;
    font-size: 24px;
  }
}

.demo-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .gallery-slide {
    display: grid;
    place-items: center;
    width: 100%;
    position: relative;

    .columns {
      max-width: 1200px;
      width: 100%;
      padding: 20vh 0;
      display: grid;
      place-items: center;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;

      .column {
        display: grid;
        gap: 20px;
        width: 100%;
        will-change: transform;

        .column__item {
          position: relative;
          z-index: 1;

          .column__item-imgwrap {
            width: 100%;
            aspect-ratio: 1;
            position: relative;
            overflow: hidden;
            border-radius: 20px;

            .column__item-img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-size: cover;
              background-position: 50% 20%;
              backface-visibility: hidden;
              cursor: pointer;
            }
          }
        }
      }
    }

    @media (max-width: 1024px) {
      .columns {
        padding: 15vh 0;
      }

      .column__item-imgwrap {
        border-radius: 18px;
      }

      .column__item-img {
        background-position: 50% 25%;
      }
    }

    @media (max-width: 768px) {
      .columns {
        padding: 10vh 0;
      }

      .column__item-imgwrap {
        border-radius: 16px;
      }

      .column__item-img {
        background-position: 50% 30%;
      }
    }

    @media (max-width: 480px) {
      .columns {
        padding: 5vh 0;
      }

      .column__item-imgwrap {
        border-radius: 14px;
      }

      .column__item-img {
        background-position: 50% 35%;
      }
    }
  }
}

.demo-2 .column__item-imgwrap {
  aspect-ratio: 1;
  border-radius: 20px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  cursor: pointer;

  .modal-content {
    max-width: 80%;
    max-height: 80%;
    img {
      height: 500px;
      border-radius: 10px;
    }
  }
}

@media (max-width: 1700px) {
  .home-gallery {
    margin: 45px 0;
    gap: 5px;

    h2 {
      font-size: 44px;
    }
    p {
      font-size: 22px;
    }
  }

  .demo-2 {
    .gallery-slide {
      width: 80%;
      .columns {
        padding: 15vh 0;
        gap: 15px;

        .column {
          gap: 15px;

          .column__item {
            .column__item-imgwrap {
              border-radius: 18px;
            }
          }
        }
      }
    }
  }

  .modal {
    .modal-content {
      img {
        height: 450px;
      }
    }
  }
}

@media (max-width: 1500px) {
  .home-gallery {
    margin: 40px 0;

    h2 {
      font-size: 42px;
    }
    p {
      font-size: 20px;
    }
  }

  .demo-2 {
    .gallery-slide {
      width: 80%;
      .columns {
        padding: 14vh 0;
        gap: 14px;

        .column {
          gap: 14px;

          .column__item {
            .column__item-imgwrap {
              border-radius: 17px;
            }
          }
        }
      }
    }
  }

  .modal {
    .modal-content {
      img {
        height: 400px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .home-gallery {
    margin: 38px 0;

    h2 {
      font-size: 40px;
    }
    p {
      font-size: 19px;
    }
  }

  .demo-2 {
    .gallery-slide {
      width: 80%;
      .columns {
        padding: 13vh 0;
        gap: 12px;

        .column {
          gap: 12px;

          .column__item {
            .column__item-imgwrap {
              border-radius: 16px;
            }
          }
        }
      }
    }
  }

  .modal {
    .modal-content {
      img {
        height: 390px;
      }
    }
  }
}

@media (max-width: 900px) {
  .home-gallery {
    margin: 35px 0;

    h2 {
      font-size: 36px;
    }
    p {
      font-size: 18px;
    }
  }

  .demo-2 {
    .gallery-slide {
      width: 80%;
      .columns {
        padding: 10vh 0;
        gap: 10px;

        .column {
          gap: 10px;

          .column__item {
            .column__item-imgwrap {
              border-radius: 15px;
            }
          }
        }
      }
    }
  }

  .modal {
    .modal-content {
      img {
        height: 350px;
      }
    }
  }
}

@media (max-width: 600px) {
  .home-gallery {
    margin: 32px 0;

    h2 {
      font-size: 36px;
    }
    p {
      font-size: 16px;
    }
  }

  .demo-2 {
    .gallery-slide {
      width: 80%;
      .columns {
        padding: 10vh 0;
        gap: 10px;

        .column {
          gap: 10px;

          .column__item {
            .column__item-imgwrap {
              border-radius: 6px;
            }
          }
        }
      }
    }
  }

  .modal {
    .modal-content {
      img {
        height: 300px;
      }
    }
  }
}
