@import "@/index.scss";

.gallery-container {
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    h2 {
      font-size: 50px;
      text-align: center;
      span {
        color: $light-green;
      }
    }

    .title {
      letter-spacing: 1px;
      text-align: center;
      font-size: 20px;
      line-height: 30px;
    }
  }

  .gallery {
    width: 100%;
    display: grid;
    grid-template-areas:
      "image1 image1 image1 image2 image2 image2 image3 image3 image3 image3 image3 image3"
      "image1 image1 image1 image2 image2 image2 image4 image4 image4 image4 image4 image4"
      "image5 image5 image5 image5 image6 image6 image6 image6 image7 image7 image7 image7";
    gap: 10px;

    div {
      position: relative;
      overflow: hidden;
      border-radius: 10px;
    }

    .image1,
    .image2,
    .image3,
    .image4,
    .image5,
    .image6,
    .image7 {
      transition: 0.3s all ease-in;
      cursor: pointer;
    }

    .image1::before,
    .image2::before,
    .image3::before,
    .image4::before,
    .image5::before,
    .image6::before,
    .image7::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;
      transition: transform 0.3s ease-in-out;
      border-radius: inherit;
    }

    .image1:hover::before,
    .image2:hover::before,
    .image3:hover::before,
    .image4:hover::before,
    .image5:hover::before,
    .image6:hover::before,
    .image7:hover::before {
      transform: scale(1.1);
    }

    .image1 {
      height: 610px;
      grid-area: image1;
      &::before {
        background-image: url(@/assets/gallery4.jpg);
      }
    }
    .image2 {
      height: 610px;
      grid-area: image2;
      &::before {
        background-image: url(@/assets/gallery3.jpg);
      }
    }
    .image3 {
      height: 300px;
      grid-area: image3;
      &::before {
        background-image: url(@/assets/gallery1.jpg);
      }
    }
    .image4 {
      height: 300px;
      grid-area: image4;
      &::before {
        background-image: url(@/assets/gallery2.jpg);
      }
    }
    .image5 {
      height: 305px;
      grid-area: image5;
      &::before {
        background-image: url(@/assets/gallery6.jpg);
      }
    }
    .image6 {
      height: 305px;
      grid-area: image6;
      &::before {
        background-image: url(@/assets/gallery5.jpg);
      }
    }
    .image7 {
      height: 305px;
      grid-area: image7;
      &::before {
        background-image: url(@/assets/gallery7.jpg);
      }
    }
  }
}

@media (max-width: 1700px) {
  .gallery-container {
    padding-bottom: 80px;
    gap: 30px;

    .content {
      gap: 8px;
      h2 {
        font-size: 40px;
      }
      p {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
}
