@import "@/index.scss";

.story {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  padding: 80px 100px;
  background-color: $light-green;

  .story-container {
    width: 100%;
    background-color: $black;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    border-radius: 10px;

    h2 {
      color: $white;
      font-size: 48px;
      text-align: center;
    }

    .content {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
      img {
        width: 50%;
        height: 500px;
        border-radius: 10px;
      }

      .text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        p {
          color: lightgray;
          font-size: 14px;
          letter-spacing: 1px;
          line-height: 25px;
        }
      }
    }
  }
}
