@import "@/index.scss";

.trips-container {
  margin-left: 15vw;

  .payments {
    padding: 30px;
    margin-top: 10vh;

    
    .css-vgpeob-MuiButtonBase-root-MuiTab-root {
      color: aliceblue !important;
    }

    .list-data-headings{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }



    .pagination {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      ul {
        li {
          div {
            color: white;
          }
          button {
            border: none;
            color: white;
          }
        }
      }
    }

    .table {
      margin-top: 10px;
      .table-head {
        background-color: $light-orange;
        tr {
          th {
            color: $white;

            font-size: 18px;
            font-weight: 600;
          }
        }
      }

      .table-body {
        background-color: $text-orange;
        tr {
          td {
            font-size: 14px;
            font-family: "DM Sans", sans-serif;
          }
        }
      }
    }
  }
}
