@import "@/index.scss";

.profile {
  margin-bottom: 100px;
  width: 100%;
  height: 100vh;
  background-color: $black;
  padding: 120px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;

  .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 60px;
      color: $text-orange;
    }
    img {
      height: 30px;
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  .form-container {
    border-radius: 10px;
    padding: 100px 50px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: $gray;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .form-container-left {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .changeImage {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 9;
        cursor: pointer;
      }
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
    }

    .form-container-right {
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 50px;

      div {
        width: 100%;

        label {
          color: $text-orange;
        }
        input {
          width: 100%;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid $text-orange;
          color: $text-orange;
          padding: 15px 10px;
          &::placeholder {
            color: $text-orange;
          }
        }
      }
    }
  }
}
