@import "@/index.scss";

.level-one-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0 20px 0;

  h2 {
    text-align: center;
    color: $text-orange;
    font-size: 60px;
  }
}

.level-one-gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: $black;
  overflow: hidden;

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;

    img {
      transition: transform 0.5s ease;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform-origin: center;
      border-radius: 5px;
    }

    &:nth-child(1) img,
    &:nth-child(5) img {
      width: 150px;
      height: 250px;
    }

    &:nth-child(2) img,
    &:nth-child(4) img {
      width: 300px;
      height: 400px;
    }

    &:nth-child(3) img {
      width: 420px;
      height: 600px;
    }
  }
}

.text-overlay {
  position: absolute;
  bottom: 20px;
  left: 50px;
  width: calc(100% - 40px);
  color: white;
  opacity: 0;
  p {
    font-size: 18px;
    margin-bottom: 20px;
    color: $white;
    line-height: 30px;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
}

.modal-content img {
  height: 400px;
  display: block;
}

@media (max-width: 1500px) {
  .level-one-gallery {
    margin: 40px 0 15px 0;

    h2 {
      font-size: 45px;
    }
  }

  .level-one-gallery-container {
    gap: 30px;

    .image {
      &:nth-child(1) img,
      &:nth-child(5) img {
        width: 130px;
        height: 230px;
      }

      &:nth-child(2) img,
      &:nth-child(4) img {
        width: 280px;
        height: 380px;
      }

      &:nth-child(3) img {
        width: 400px;
        height: 580px;
      }
    }
  }

  .text-overlay {
    bottom: 18px;
    left: 45px;

    p {
      font-size: 17px;
      margin-bottom: 18px;
      line-height: 28px;
    }
  }

  .modal-content img {
    height: 380px;
  }
}

@media (max-width: 1200px) {
  .level-one-gallery {
    margin: 30px 0 13px 0;

    h2 {
      font-size: 40px;
    }
  }

  .level-one-gallery-container {
    gap: 28px;

    .image {
      &:nth-child(1) img,
      &:nth-child(5) img {
        width: 120px;
        height: 220px;
      }

      &:nth-child(2) img,
      &:nth-child(4) img {
        width: 260px;
        height: 360px;
      }

      &:nth-child(3) img {
        width: 380px;
        height: 560px;
      }
    }
  }

  .text-overlay {
    bottom: 16px;
    left: 40px;

    p {
      font-size: 16px;
      margin-bottom: 16px;
      line-height: 26px;
    }
  }

  .modal-content img {
    height: 360px;
  }
}

@media (max-width: 900px) {
  .level-one-gallery {
    margin: 28px 0 12px 0;

    h2 {
      font-size: 34px;
    }
  }

  .level-one-gallery-container {
    gap: 24px;
    height: 100vh;

    .image {
      &:nth-child(1) img,
      &:nth-child(5) img {
        width: 110px;
        height: 210px;
      }

      &:nth-child(2) img,
      &:nth-child(4) img {
        width: 240px;
        height: 340px;
      }

      &:nth-child(3) img {
        width: 340px;
        height: 540px;
      }
    }
  }

  .text-overlay {
    bottom: 15px;
    left: 38px;

    p {
      font-size: 15px;
      margin-bottom: 15px;
      line-height: 24px;
    }
  }

  .modal-content img {
    height: 340px;
  }
}

@media (max-width: 600px) {
  .level-one-gallery {
    display: none;
  }

  .level-one-gallery-container {
    display: none;
    height: 0;
  }
}
