@import "@/index.scss";

.level-one-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0 20px 0;

  h2 {
    color: $text-orange;
    font-size: 60px;
  }
}

.level-one-gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: $black;
  overflow: hidden;

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;

    img {
      transition: transform 0.5s ease;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform-origin: center;
      border-radius: 5px;
    }

    &:nth-child(1) img,
    &:nth-child(5) img {
      width: 150px;
      height: 250px;
    }

    &:nth-child(2) img,
    &:nth-child(4) img {
      width: 300px;
      height: 400px;
    }

    &:nth-child(3) img {
      width: 420px;
      height: 600px;
    }
  }
}

.text-overlay {
  position: absolute;
  bottom: 20px;
  left: 50px;
  width: calc(100% - 40px);
  color: white;
  opacity: 0;
  p {
    font-size: 18px;
    margin-bottom: 20px;
    color: $white;
    line-height: 30px;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
}

.modal-content img {
  height: 400px;
  display: block;
}
