@import "@/index.scss";

.packages {
  margin: 100px 0;
  padding: 0 50px;
  background-color: $light-orange;

  .gallery {
    display: flex;

    .packages-left {
      width: 50%;

      .desktopContent {
        margin: auto;
        width: 80%;
        .desktopContentSection {
          min-height: 100vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          position: relative;

          .title {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            gap: 10px;
            position: absolute;
            top: 30px;
            left: 0;
            h2 {
              font-size: 48px;
              color: $white;
            }

            img {
              height: 50px;
            }
          }

          .content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 50px;
            padding: 20px 50px;

            .logo {
              height: 130px;
              display: flex;
              justify-content: center;
              img {
                height: 100%;
              }
            }

            .line {
              background-color: $dark-orange;
              height: 1px;
              width: 100%;
            }

            .text {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 20px;
              flex-direction: column;
              h2 {
                font-size: 96px;
                color: $white;
              }

              p {
                font-size: 24px;
                color: $white;
                line-height: 34px;
                text-align: center;
              }
            }

            .button {
              a {
                background-color: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                font-size: 24px;
                color: $white;
                border-radius: 18px;
                border: 1px solid $white;
                padding: 30px 20px;

                img {
                  height: 30px;
                }
              }
            }
          }
        }
      }
    }

    .packages-right {
      height: 100vh;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .desktopPhotos {
        width: 50vw;
        height: 100vh;
        position: relative;
        overflow: hidden;

        .desktopPhoto {
          position: absolute;
          width: 100%;
          height: 100%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }
  }

  .fixed-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    color: $light-orange;
    width: 200px;
    height: 250px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 24px;
    .number {
      margin-right: 10px;
      font-size: 60px;
    }
    .total {
      font-size: 28px;
      display: flex;
      justify-content: flex-end;
    }
  }
}

@media (max-width: 1700px) {
  .packages {
    margin: 80px 0;
    padding: 0 40px;

    .gallery {
      .packages-left {
        .desktopContent {
          .desktopContentSection {
            .title {
              h2 {
                font-size: 32px;
              }

              img {
                height: 40px;
              }
            }

            .content {
              gap: 40px;
              padding: 10px 40px;

              .logo {
                height: 110px;

                img {
                  height: 100%;
                }
              }

              .text {
                gap: 16px;
                h2 {
                  font-size: 50px;
                }

                p {
                  font-size: 16px;
                  line-height: 24px;
                }
              }

              .button {
                a {
                  gap: 18px;
                  font-size: 20px;
                  border-radius: 16px;
                  padding: 20px 12px;

                  img {
                    height: 26px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .fixed-center {
      width: 150px;
      height: 200px;
      padding: 16px;

      .number {
        font-size: 40px;
      }
      .total {
        font-size: 20px;
      }
    }
  }
}
