@import "@/index.scss";

.otp-container {
  width: 100%;
  height: 100vh;
  background-color: $black;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;

  .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 60px;
      color: $text-orange;
    }
  }

  .form-container {
    width: 50%;
    height: 50vh;
    border-radius: 10px;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: $gray;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .form-container-right {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 40px;

      div {
        width: 100%;

        label {
          color: $text-orange;
        }
        input {
          width: 100%;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid $text-orange;
          color: $text-orange;
          padding: 5px 0;
          padding-top: 10px;
          font-size: 16px;

          &::placeholder {
            color: $text-orange;
          }
        }

        .resend {
          margin-top: 20px;
          text-align: right;
          p {
            color: $text-orange;
            cursor: pointer;
            font-weight: 600;
          }
        }
      }
    }
  }

  .forget-password {
    p {
      text-align: center;
      font-size: 16px;
      color: $text-orange;
      span {
        cursor: pointer;
        font-weight: 600;
      }
    }
  }
}
