@import "rsuite/dist/rsuite.css";
@import "@/index.scss";

.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  width: 100%;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .rs-panel-group.rs-panel-group-accordion {
    width: 80%;

    flex-direction: column;

    .rs-panel.rs-panel-collapsible {
      width: 100%;
    }
  }
}
