@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://db.onlinewebfonts.com/c/2e46652a2dcb3173f0d40d4266f1debe?family=Cygre+Light");

$dark-orange: #bc6c25;
$light-orange: #dda15e;
$text-orange: #fefae0;
$light-green: #606c38;
$dark-green: #283618;
$neon-green: #52e515;
$black: #151515;
$gray: #393939;
$white: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cygre Light";
}

body {
  background-color: $black;
}

body::-webkit-scrollbar {
  width: 0px;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}
input {
  outline: none;
  &:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-text-fill-color: $text-orange !important;
    transition: background-color 5000s ease-in-out 0s;
  }

  &:-webkit-autofill:focus {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-text-fill-color: $text-orange !important;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $black;
}

p {
  color: $gray;
}

h2 {
  font-family: "Italiana", sans-serif;
  letter-spacing: 2px;
  font-weight: 100;
}

.error-text {
  color: #ff3333;
  font-size: 12px;
  margin-top: 10px;
  font-weight: 600;
  letter-spacing: 1px;
}

.authButton {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  font-size: 22px;
  color: $text-orange;
  border: 1px solid $text-orange;
  border-radius: 16px;
  padding: 20px 18px;

  img {
    height: 28px;
  }
}
