@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

$dark-green: #009e9d;
$light-green: #58c994;
$yellow: #f9f871;
$black: #333333;
$gray: #666666;
$white: #fafafa;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  color: $black;
}

body::-webkit-scrollbar {
  width: 0px;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}
input {
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  color: $gray;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.button-style {
  padding: 15px 30px;
  background-color: transparent;
  border: 2px solid $dark-green;
  border-radius: 5px;
  color: $dark-green;
  transition: 0.3s all;

  &:hover {
    background-color: $dark-green;
    color: $white;
  }
}

@media (max-width: 1700px) {
  button {
    padding: 14px 28px;
  }
}
