@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://db.onlinewebfonts.com/c/2e46652a2dcb3173f0d40d4266f1debe?family=Cygre+Light");

$dark-orange: #bc6c25;
$light-orange: #dda15e;
$text-orange: #fefae0;
$light-green: #606c38;
$dark-green: #283618;
$neon-green: #52e515;
$black: #151515;
$gray: #393939;
$white: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cygre Light";
}

body {
  background-color: $black;
}

body::-webkit-scrollbar {
  width: 0px;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}
input {
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $black;
}

p {
  color: $gray;
}

h2 {
  font-family: "Italiana", sans-serif;
  letter-spacing: 2px;
}
