@import "@/index.scss";

.authLeftSide {
  width: 50%;
  height: 100vh;
  background-image: url("../../assets/authLeftImg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
